@import "./mixin";

.navbar {
    &.sticky-top {
        background: transparent;
        position: absolute;
        width: 100%;

        @include breakpoint('medium') {
            position: relative;
        }

        .navbar-collapse {
            .navbar-brand {
                img {
                    width: 60px;
                }
            }

            .navbar-nav {
                .nav-item {
                    margin: 0px 20px;

                    &.active {
                        .nav-link {
                            position: relative;

                            &:after {
                                content: "";
                                position: absolute;
                                bottom: 0px;
                                left: 0px;
                                width: 100%;
                                background: var(--black);
                                height: 2px;
                            }
                        }
                    }

                    .nav-link {
                        position: relative;
                        
                        &:hover {
                            &:after {
                                content: "";
                                position: absolute;
                                bottom: 0px;
                                left: 0px;
                                width: 100%;
                                background: var(--black);
                                height: 2px;
                            }
                        }
                    }
                }
            }

            .right-navbar {
                display: flex;

                img {
                    width: 20px;
                    height: 20px;
                    margin-right: 20px;
                }
            }
        }
    }
}